/* CSS Document */

.schemePrompt {
    height : 60ex;
    margin-left : 14%;
    margin-right : 14%;
}

.schemePrompt input {
    position : relative;
    border : none;
    background-color : #8099BB;
    width : 95%;
}

.schemePrompt .holder {
    border-bottom : 1px solid #36F;
}

.schemePrompt .err {
    color : #2F0970;
}

.schemePrompt .in {
    color : #092F70;
}

.schemePrompt .info {
    color : #09702F;
}