/* CSS Document */

#schemePrompt {
    width : 60em;
    height : 60ex;
    background-color : black;
    font-size : 16pt;
    font-family : monospace;
    color : white;
}

#schemePrompt > div {
    width : 100%;
    height : 100%;
}

#schemePrompt > div > div {
    position : relative;
    overflow : auto;
    height : 500px;
    top : 0px;
}

#schemePrompt input {
    position : relative;
    border : 1px solid #36F;
    background-color : black;
    color : white;
    width : 99.8%;
    font-size : 16pt;
    font-family : monospace;
}

#schemePrompt .err {
    color : red;
}

#schemePrompt .in {
    color : #69F;
}

#schemePrompt .info {
    color : #6F9;
}